* {
    border: 0px dotted red;
}

html, body {
    border: 0px none;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(220, 243, 220);
    display: flex;
    flex-direction: column;
}

.main-container
{
    padding: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.main-banner {
    background-color: rgb(5, 34, 5);
    color: white;
    display: flex;
    flex-direction: column;
}

.main-banner > h1 {
    display: flex;
    align-self: center;
    color: rgb(220, 243, 220);
    font-size: 50px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer {
    background-color: forestgreen;
    color: rgb(220, 243, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.header-links {
    background-color: forestgreen;
    padding: 2px;
    border: 1px solid rgb(5, 34, 5);
}

.header-links > ul {
    display: flex;
    list-style-type: none;
    justify-content: start;
    gap: 5px;
    margin: 0px;
    padding: 0px;
}

.header-links > ul > li > a {
    text-decoration: none;
    color:rgb(220, 243, 220);
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2px;
    padding: 2px;
    border: 1px solid rgb(5, 34, 5);
}

.header-links > ul > li > a:hover {
    margin: 2px;
    padding: 2px;
    text-decoration: underline;
    color: rgb(5, 34, 5);
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hello-text {
    display: flex;
    margin: 0px;
}

.rockpaperscissors {
    display: flex;
    flex-direction: column;
}

.rpsbutton {
    background-color: rgb(5, 34, 5);
    color: rgb(220, 243, 220);
}

.rpsbutton:hover {
    background-color: rgb(6, 100, 6);
    color: rgb(220, 243, 220);
}

.rpsbutton:active {
    background-color: rgb(27, 109, 27);
    color: rgb(220, 243, 220);
}

.board {
    align-self: center;
    display: grid;
    grid-gap: 0px;
    border: 0px solid rgba(179, 0, 255, 0.534);
    width: 500px;
    height: 500px;
    
}

.grid-item {
    margin: 0px;
    padding: 0px;
    background-color: rgb(253, 192, 255);
}

.board > div.red {
    margin: 0px;
    padding: 0px;
    background-color: rgb(101, 0, 121);
}