body {
    background-color: rgb(195, 236, 206);
}

div {
    padding: 20px;
}

div.container:nth-child(3) {
    background-color: rgb(159, 202, 176);
}

h1 {
    color: rgb(26, 65, 26);
    text-align: center;
    font-family: "Raleway";
    font-weight: bolder;
}

h2 {
    color: rgb(26, 65, 26);
    text-align: center;
}

h3 {
    color: rgb(26, 65, 26);
    text-align: center;
}

p {
    font-family: Verdana;
    text-align: center;
    font-size: 16px;
}

html body div.container ul.nav.nav-pills.nav-fill {
    color:rgb(195, 236, 206);
    background-color: rgb(115, 145, 128);
}

.nav>li>a:hover {
    color:rgb(195, 236, 206);
    background-color: rgb(90, 114, 101);
}

html body div.container ul.nav.nav-pills.nav-fill li.nav-item a.nav-link.active {
    background-color: rgb(60, 77, 67);
}

html body div.container ul.nav.nav-pills.nav-fill li.nav-item a.nav-link {
    color:rgb(195, 236, 206);
}